<div>
<h1 class="text-3xl font-bold underline">
The meaning of life is <%= @meaning_of_life %>
</h1>
<p style="color:red" class="italic">hello there!</p>
<div>
<p> some new content</p>
</div>
</div>

